
  .App {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    text-align: center;
    background-color: #fab900;
    grid-template-rows: 20px 1fr;
    grid-template-areas:
     "a a a"
     "b c d";
  }

  .App-header {
    grid-column: 1/4;
    grid-row: 1;
    background-color: #7dd6be
  }

  .App-intro {
    font-size: large;
    grid-area: b;
  }

  .App-part2 {
    grid-area: d;
  }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
