.Navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #26beb0;
  grid-template-rows: 100px;
}
.NavHead {
  grid-column: 1;
  padding: 1em;
}

.Nav1 {
  grid-column: 2;
}

.Nav2 {
  grid-column: 3;
}

.Nav3 {
  grid-column: 4;
}

.Nav4 {
  grid-column: 5;
}
